body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

#container {
    width: 800px;
    margin: 20px auto;
    border: 1px solid gray;
    background-color: white;
    padding: 20px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 36px;
    color: darkblue;
}

header h2 {
    font-size: 24px;
    color: darkblue;
}

header h3 {
    font-size: 28px;
    color: darkblue;
}

nav {
    text-align: right;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px 0;
}

nav a {
    text-decoration: none;
    color: darkblue;
    margin-left: 15px;
}

nav a:hover {
    text-decoration: underline;
    color: lightblue;
}

main img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

main h2 {
    font-size: 20px;
    text-align: left;
    color: black;
}

footer {
    text-align: left;
    font-size: 8px;
    color: gray;
}

main small {
    font-size: 12px;
    color: gray;
}