body {
    background-color: gray;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

a {
    color: blue;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

#container {
    width: 75%;
    margin: 20px auto;
    border: 1px solid black;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header {
    text-align: center;
    padding: 20px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 50px;
    color:darkblue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: lightgray;
}

nav ul {
    list-style: none;
    margin-right: -25%;
}

nav li {
    margin: 10px;
    display: inline-block;
}

nav li a {
    display: block;
    background-color: darkblue;
    color: white;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
}

nav li a:hover {
    background-color: black;
    color:gray;
}

main h2 {
    font-size: 30px;
    color: darkblue;
    text-align: center;
}

main h3 {
    font-size: 24px;
    color: darkblue;
    text-align: left;
}

.multi_col {
    display: flex;
}

section, aside {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

section {
    width: 75%;
}

aside {
    width: 25%;
}

section img, aside img {
    border: 2px solid black;
    width: 50%;
}

footer {
    color: rgb(25, 25, 25);
    font-size: 10px;
}

div iframe {
    size: 50%;
    margin: 0 auto;
    background-color: gray;
    display:block;
    border: 2px solid black;
}