/* GLOBAL STYLES */

body {
    background-color: #D9D9D9;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
}

nav {
    text-align: center;
    padding: 10px;
    border: 1px solid #8C8C8C;
    border-radius: 10px;
    background-color: #F2F2F2;
}

nav ul {
    list-style: none;
}

nav li {
    margin: 10px;
    display: inline-block;
}

nav li a {
    display: block;
    background-color: rgb(18, 18, 56);
    color: white;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
}

nav li a:hover {
    background-color: black;
    color:gray;
}

/* MOBILE STYLES */

#container {
    width: 80%;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    color: rgb(18, 18, 56);
    text-shadow: 2px 2px 4px #D9D9D9;
    border: 1px solid #8C8C8C;
    border-radius: 10px;
    background-color: #F2F2F2;
}

h2, h3, h4 {
    text-align: center;
    color: rgb(18, 18, 56);
}

.multi_col {
    background-color: #F2F2F2;
    padding: 20px;
    border: 2px solid #8C8C8C;
    border-radius: 10px;
    margin: 10px;
}

/* TABLET STYLES */

footer {
    border-top: 2px solid rgb(18, 18, 56);
    padding: 40px;
    font-size: 10px;
    text-align: center;
}

@media (min-width: 786px) {
    #upper {
        display: flex;
    }

    section, aside {
        padding: 20px;
        border: 2px solid rgb(18, 18, 56);
        border-radius: 10px;
        margin: 10px;
    }
    .multi_col {
        width: 75%;
        margin: 20px auto;
    }
}

/* DESKTOP STYLES */

@media (min-width: 1024px) {
    .multi_col {
        display: flex;
    }
    #container {
        width: 50%;
        margin: 20px auto;
        border: 2px solid #08080D;
        border-radius: 10px;
    }

    section {
        width: 65%;
    }

    aside {
        width: 30%;
    }

    #lower {
        display: flex;
    }

    .multi_col {
        margin: 20px;
    }
}